<!DOCTYPE html>
<html>
	<head>
		<title>Clockworth Configurator</title>
		<link rel="stylesheet" href="style.css">
		<script type="module" src="app.js"></script>
	</head>
	<body>
		<div id="app">
			<main>
				<div style="display:flex;flex-direction:column;align-items:center;margin-bottom:16px;">
					<h1>Clockworth Configurator</h1>
					<p>Widget for configuring your own <a href="https://github.com/petermarkley/clockworth">Clockworth robotic clock</a>.</p>
					<img src="img/clockworth-photo-alpha-300px.png" alt="Clockworth" style="width:200px;height:auto;"/>
				</div>
				<template v-if="page==0">
					<div style="display:flex;flex-direction:column;align-items:center;margin-bottom:16px;gap:16px;">
						<p>How would you like to begin?</p>
						<div style="display:flex;flex-direction:column;justify-content:space-between;gap:12px;width:60%;">
							<button style="flex:1;display:flex;flex-direction:row;gap:8px;font-size:18px;" @click="importDefault(); page++;">
								<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
									<use href="img/icons.svg#bookmark"/>
								</svg>
								<span>Use Default</span>
							</button>
							<button style="flex:1;display:flex;flex-direction:row;gap:8px;font-size:18px;" @click="uploadConf">
								<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
									<use href="img/icons.svg#download" style="transform:scaleY(-1);transform-origin:center;"/>
								</svg>
								<span>Upload</span>
							</button>
							<button style="flex:1;display:flex;flex-direction:row;gap:8px;font-size:18px;" @click="page++;">
								<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
									<use href="img/icons.svg#page"/>
								</svg>
								<span>Start from Scratch</span>
							</button>
						</div>
					</div>
				</template>
				<template v-else-if="page==1">
					<div style="display:flex;flex-direction:row;gap:16px;margin-bottom:24px;">
						<div style="width:100%;">
							<h2>Chime Events</h2>
							<div class="inset" style="height:300px;">
								<ul id="chime_events">
									<chime-event
										v-for="(event, index) in store.conf.events"
										:event="event"
										:index="index"
										:depth="0"
										:has-next-sibling="false"
										:path="[]"
									></chime-event>
								</ul>
							</div>
							<div class="toolbar">
								<button
									id="toolbar_add"
									class="leftmost"
									@click="store.newEvent"
									title="Add new chime object"
								>
									<span>+</span>
								</button>
								<button
									id="toolbar_remove"
									:disabled="!store.selection.event"
									@click="store.deleteEvent"
									title="Delete this chime object"
								>
									<span>-</span>
								</button>
								<button
									id="toolbar_unindent"
									:disabled="!store.selection.event || store.selection.path.length == 0"
									@click="store.decreaseIndent"
									title="Decrease indent"
								>
									<span>&larr;</span>
								</button>
								<button
									id="toolbar_indent"
									:disabled="!store.selection.event"
									@click="store.increaseIndent"
									title="Increase indent"
								>
									<span>&rarr;</span>
								</button>
								<button
									id="toolbar_up"
									:disabled="!store.selection.event || store.selection.path[store.selection.path.length-1].index == 0"
									@click="store.moveUpward"
									title="Move upward in list"
								>
									<span>&uarr;</span>
								</button>
								<button
									id="toolbar_down"
									class="rightmost"
									:disabled="!store.selection.event ||
										store.selection.path.length < 2 && (store.selection.path[store.selection.path.length-1].index == store.conf.events.length-1) ||
										store.selection.path.length > 1 && (store.selection.path[store.selection.path.length-1].index == store.selection.path[store.selection.path.length-2].event.members.length-1)"
									@click="store.moveDownward"
									title="Move downward in list"
								>
									<span>&darr;</span>
								</button>
							</div>
						</div>
						<div style="width:100%;">
							<h2 style="display:flex;flex-direction:row;justify-content:center;align-items:center;gap:16px;">
								<span>Overlap Slots</span>
								<a @click="overlapSlotsHelp" title="What are &quot;Overlap Slots?&quot;" style="display:flex;">
									<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
										<use href="img/icons.svg#help"/>
									</svg>
								</a>
							</h2>
							<div class="inset" style="height:300px;">
								<ol id="collision_sequence">
									<li v-for="(n, i) in 10">
										<span>Slot {{ n }}:</span>
										<ul class="collision-list">
											<li
												v-for="item in getCollisionList(n,store.conf.events,true,[])"
												@click="store.select"
												:data-path="JSON.stringify(item.path)"
												:class="'collision-item selectable'+(store.selection.event===item.event?' selected':'')+(item.enable?'':' disable')"
											>
												<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
													<use href="img/icons.svg#music"/>
												</svg>
												<span>{{ item.event.label }}</span>
											</li>
										</ul>
									</li>
								</ol>
							</div>
							<div class="toolbar">
								<button
									id="toolbar_prev"
									class="leftmost"
									:disabled="!store.selection.event || store.selection.event.type != 'event' || store.selection.event.sequence < 2"
									@click="store.selection.event.sequence--;"
									title="Move to previous sequence slot"
								>
									<span>&uarr;</span>
								</button>
								<button
									id="toolbar_next"
									class="rightmost"
									:disabled="!store.selection.event || store.selection.event.type != 'event' || store.selection.event.sequence > 9"
									@click="store.selection.event.sequence++;"
									title="Move to next sequence slot"
								>
									<span>&darr;</span>
								</button>
							</div>
						</div>
					</div>
					<div>
						<div v-if="store.selection.event" style="display:flex;flex-direction:row;gap:16px;margin-bottom:16px;">
							<div class="properties_heading">
								<h3 style="display:flex;flex-direction:row;gap:16px;align-items:center;">
									<a @click="store.deselect" title="Deselect" style="font-size:24px;">
										<svg viewBox="0 0 20 20" style="width:1em;height:1em;">
											<use href="img/icons.svg#x-circle"/>
										</svg>
									</a>
									<span id="breadcrumb">
										<template v-for="(item, i) in store.selection.path">
											<span v-if="i<(store.selection.path.length-1)">
												<a @click="store.select" class="selectable" :data-path="JSON.stringify(store.cleanPath().slice(0,i+1))">
													<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
														<use href="img/icons.svg#folder"/>
													</svg>
													<span>{{ item.event.label }}</span>
												</a>
												<span>&rarr;</span>
											</span>
										</template>
									</span>
									<span style="display:inline-flex;flex-direction:row;gap:8px;align-items:center;">
										<svg v-if="store.selection.event.type=='group'" viewBox="0 0 24 24" style="width:1em;height:1em;">
											<use href="img/icons.svg#folder"/>
										</svg>
										<svg v-else-if="store.selection.event.type=='event'" viewBox="0 0 24 24" style="width:1em;height:1em;">
											<use href="img/icons.svg#music"/>
										</svg>
										<input type="text" id="properties_title" v-model="store.selection.event.label"/>
									</span>
								</h3>
							</div>
							<label class="switch">
								<input type="checkbox" id="properties_enable" v-model="store.selection.event.enable">
								<span class="slider" :title="(store.selection.event.enable?'Click to disable':'Click to enable')"></span>
							</label>
						</div>
						<div v-else class="properties_heading">
							<h3>Top-Level Settings</h3>
						</div>
						<div id="properties">
							<template v-if="store.selection.event === null">
								<div style="display:flex;flex-direction:row;gap:32px;justify-content:center;align-items:center;">
									<label style="display:flex;flex-direction:row;gap:16px;align-items:center;">
										<p style="margin:0;font-size:24px;">Chime</p>
										<div class="switch">
											<input type="checkbox" id="chime_enable" v-model="store.conf.chime">
											<span class="slider" :title="(store.conf.chime?'Click to disable':'Click to enable')"></span>
										</div>
									</label>
									<label style="display:flex;flex-direction:row;gap:16px;align-items:center;">
										<p style="margin:0;font-size:24px;">Tick</p>
										<div class="switch">
											<input type="checkbox" id="chime_enable" v-model="store.conf.tick">
											<span class="slider" :title="(store.conf.tick?'Click to disable':'Click to enable')"></span>
										</div>
									</label>
								</div>
								<div style="display:flex;flex-direction:row;gap:32px;justify-content:center;align-items:center;">
									<div style="display:flex;flex-direction:row;gap:8px;justify-content:center;align-items:flex-end;">
										<div style="display:flex;flex-direction:column;gap:8px;align-items:flex-start;">
											<label for="latitude">Latitude</label>
											<input type="number" min="0" max="90" step="any" id="latitude" class="nospinner" v-model="store.latitude"/>
										</div>
										<div class="select-container" style="padding-bottom:1px;">
											<select id="latitude_direction" style="font-size:16px;" v-model="store.latitudeDirection">
												<option value="N">N</option>
												<option value="S">S</option>
											</select>
										</div>
									</div>
									<div style="display:flex;flex-direction:row;gap:8px;justify-content:center;align-items:flex-end;">
										<div style="display:flex;flex-direction:column;gap:8px;align-items:flex-start;">
											<label for="longitude">Longitude</label>
											<input type="number" min="0" max="180" step="any" id="longitude" class="nospinner" v-model="store.longitude"/>
										</div>
										<div class="select-container" style="padding-bottom:1px;">
											<select id="longitude_direction" style="font-size:16px;" v-model="store.longitudeDirection">
												<option value="E">E</option>
												<option value="W">W</option>
											</select>
										</div>
									</div>
								</div>
								<div id="world_map" @click="store.clickWorldMap">
									<svg id="world_map_pin" viewBox="0 0 24 24" :style="'bottom:'+(store.latitudeSigned+90)*(400/180)+'px;left:'+(store.longitudeSigned+180)*(800/360)+'px;'">
										<use href="img/icons.svg#crosshairs"/>
									</svg>
								</div>
							</template>
							<template v-else-if="store.selection.event.type == 'group'">
								<p style="font-style:italic;">Contains {{ getEventCount(store.selection.event) }} chime events.</p>
							</template>
							<template v-else-if="store.selection.event.type == 'event'">
								<div class="fieldset" style="flex-direction:column;align-items:stretch;">
									<h4>Match Rules</h4>
									<div class="inset-flat-container" style="display:flex;flex-direction:column;flex-grow:1;align-items:center">
										<h5 class="inset-flat-heading" style="margin:0;">Date</h5>
										<div class="inset-flat" style="display:flex;flex-direction:row;gap:16px 8px;flex-wrap:wrap;align-items:flex-start;">
											<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
												<label for="match_date_type">Type</label>
												<div class="select-container">
													<select id="match_date_type" v-model="store.selection.event.match.date.type" @change="store.updateConf(store.selection.event);">
														<option value="all">all</option>
														<option value="specify">specify</option>
														<option value="easter">Easter</option>
													</select>
												</div>
											</div>
											<template v-if="store.selection.event.match.date.type == 'specify'">
												<div style="display:flex;flex-direction:column;gap:8px;">
													<h5 style="margin:0;">Month</h5>
													<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
														<label for="match_date_specify_month_type">Type</label>
														<div class="select-container">
															<select id="match_date_specify_month_type" v-model="store.selection.event.match.date.month.type" @change="store.updateConf(store.selection.event);">
																<option value="specify">specify</option>
															</select>
														</div>
													</div>
													<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
														<label for="match_date_specify_month_value">Value</label>
														<div class="select-container">
															<select id="match_date_specify_month_value" v-model="store.selection.event.match.date.month.value">
																<option value="Jan">January</option>
																<option value="Feb">February</option>
																<option value="Mar">March</option>
																<option value="Apr">April</option>
																<option value="May">May</option>
																<option value="Jun">June</option>
																<option value="Jul">July</option>
																<option value="Aug">August</option>
																<option value="Sep">September</option>
																<option value="Oct">October</option>
																<option value="Nov">November</option>
																<option value="Dec">December</option>
															</select>
														</div>
													</div>
												</div>
												<div style="display:flex;flex-direction:column;gap:8px;">
													<h5 style="margin:0;">Day</h5>
													<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
														<label for="match_date_specify_day_type">Type</label>
														<div class="select-container">
															<select id="match_date_specify_day_type" v-model="store.selection.event.match.date.day.type" @change="store.updateConf(store.selection.event);">
																<option value="fixed">fixed</option>
																<option value="floating">floating</option>
															</select>
														</div>
													</div>
													<template v-if="store.selection.event.match.date.day.type == 'fixed'">
														<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
															<label for="match_date_specify_day_value">Value</label>
															<input type="number" min="1" max="31" step="1" id="match_date_specify_day_value" v-model="store.selection.event.match.date.day.value"/>
														</div>
													</template>
													<template v-else-if="store.selection.event.match.date.day.type == 'floating'">
														<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
															<label for="match_date_specify_day_value">Value</label>
															<div class="select-container">
																<select id="match_date_specify_day_value" v-model="store.selection.event.match.date.day.value">
																	<option value="Sun">Sun</option>
																	<option value="Mon">Mon</option>
																	<option value="Tue">Tue</option>
																	<option value="Wed">Wed</option>
																	<option value="Thu">Thu</option>
																	<option value="Fri">Fri</option>
																	<option value="Sat">Sat</option>
																</select>
															</div>
														</div>
														<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
															<label for="match_date_specify_day_ordinal">Ordinal</label>
															<input type="number" min="1" max="5" step="1" id="match_date_specify_day_ordinal" v-model="store.selection.event.match.date.day.ordinal"/>
														</div>
													</template>
												</div>
											</template>
											<template v-else-if="store.selection.event.match.date.type == 'easter'">
												<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
													<label for="match_date_easter_variant">Variant</label>
													<div class="select-container">
														<select id="match_date_easter_variant" v-model="store.selection.event.match.date.variant">
															<option value="western">Western</option>
														</select>
													</div>
												</div>
											</template>
										</div>
									</div>
									<div class="inset-flat-container" style="display:flex;flex-direction:column;flex-grow:1;align-items:center">
										<h5 class="inset-flat-heading" style="margin:0;">Time</h5>
										<div class="inset-flat" style="display:flex;flex-direction:row;gap:16px;flex-wrap:wrap;align-items:flex-start;">
											<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
												<label for="match_time_type">Type</label>
												<div class="select-container">
													<select id="match_time_type" v-model="store.selection.event.match.time.type" @change="store.updateConf(store.selection.event);">
														<option value="specify">specify</option>
														<option value="sun">solar</option>
													</select>
												</div>
											</div>
											<template v-if="store.selection.event.match.time.type == 'specify'">
												<div style="display:flex;flex-direction:column;gap:8px;">
													<h5 style="margin:0;">Hour</h5>
													<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
														<label for="match_time_specify_hour_type">Type</label>
														<div class="select-container">
															<select id="match_time_specify_hour_type" v-model="store.selection.event.match.time.hour.type" @change="store.updateConf(store.selection.event);">
																<option value="all">all</option>
																<option value="specify">specify</option>
															</select>
														</div>
													</div>
													<template v-if="store.selection.event.match.time.hour.type == 'specify'">
														<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
															<label for="match_time_specify_hour_format">Format</label>
															<div class="select-container">
																<select id="match_time_specify_hour_format" v-model="store.selection.event.match.time.hour.format" @change="store.updateConf(store.selection.event);">
																	<option value="meridian">12-hr</option>
																	<option value="military">24-hr (military)</option>
																</select>
															</div>
														</div>
														<template v-if="store.selection.event.match.time.hour.format == 'meridian'">
															<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
																<label for="match_time_specify_hour_value">Value</label>
																<input type="number" min="1" max="12" step="1" id="match_time_specify_hour_value" v-model="store.selection.event.match.time.hour.value"/>
															</div>
														</template>
														<template v-else-if="store.selection.event.match.time.hour.format == 'military'">
															<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
																<label for="match_time_specify_hour_value">Value</label>
																<input type="number" min="0" max="23" step="1" id="match_time_specify_hour_value" v-model="store.selection.event.match.time.hour.value"/>
															</div>
														</template>
													</template>
												</div>
												<div style="display:flex;flex-direction:column;gap:8px;">
													<h5 style="margin:0;">Minute</h5>
													<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
														<label for="match_time_specify_minute_type">Type</label>
														<div class="select-container">
															<select id="match_time_specify_minute_type" v-model="store.selection.event.match.time.minute.type" @change="store.updateConf(store.selection.event);">
																<option value="specify">specify</option>
															</select>
														</div>
													</div>
													<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
														<label for="match_time_specify_minute_value">Value</label>
														<input type="number" min="0" max="59" step="1" id="match_time_specify_minute_value" v-model="store.selection.event.match.time.minute.value"/>
													</div>
												</div>
											</template>
											<template v-else-if="store.selection.event.match.time.type == 'sun'">
												<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
													<label for="match_time_sun_event">Event</label>
													<div class="select-container">
														<select id="match_time_sun_event" v-model="store.selection.event.match.time.event">
															<option value="rise">rise</option>
															<option value="set">set</option>
														</select>
													</div>
												</div>
												<div style="display:flex;flex-direction:row;gap:8px;align-items:center;">
													<label for="match_time_sun_offset">Offset</label>
													<input type="number" step="1" id="match_time_sun_offset" v-model="store.selection.event.match.time.offset"/>
												</div>
											</template>
										</div>
									</div>
								</div>
								<div class="fieldset">
									<h4>Sound File</h4>
									<div style="display:flex;flex-direction:column;gap:16px;width:100%;">
										<div style="display:flex;flex-direction:column;gap:4px;align-items:flex-start;">
											<label for="file_relative">Relative to</label>
											<div class="select-container">
												<select id="file_relative" v-model="store.selection.event.file.relative_to">
													<option value="clockworth">Clockworth folder</option>
													<option value="home">User home</option>
													<option value="root">Filesystem root</option>
												</select>
											</div>
										</div>
										<div style="display:flex;flex-direction:column;gap:4px;align-items:flex-start;">
											<label for="file_path">Path</label>
											<input type="text" id="file_path" v-model="store.selection.event.file.path" style="width:100%;"/>
										</div>
									</div>
								</div>
							</template>
						</div>
					</div>
					<div style="display:flex;flex-direction:row;justify-content:flex-end;">
						<button @click="page++;" style="display:flex;flex-direction:row;gap:8px;font-size:18px;">
							<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
								<use href="img/icons.svg#export"/>
							</svg>
							<span>Export JSON</span>
						</button>
					</div>
				</template>
				<template v-else-if="page==2">
					<div style="display:flex;flex-direction:column;gap:12px;">
						<div style="display:flex;flex-direction:row;justify-content:flex-start;">
							<button class="secondary" @click="page--;" style="font-size:18px;">&larr; Back</button>
						</div>
						<textarea id="json_output" readonly>{{ jsonOutput }}</textarea>
						<div style="display:flex;flex-direction:row;justify-content:space-between;gap:12px;">
							<button style="flex:1;font-size:18px;" @click="copyJsonOutput();" :disabled="clipboardFeedback">
								<div v-if="clipboardFeedback" style="display:flex;flex-direction:row;gap:8px;">
									<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
										<use href="img/icons.svg#checkmark"/>
									</svg>
									<span>Copied!</span>
								</div>
								<div v-else style="display:flex;flex-direction:row;gap:8px;">
									<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
										<use href="img/icons.svg#clipboard"/>
									</svg>
									<span>Copy</span>
								</div>
							</button>
							<button style="flex:1;display:flex;flex-direction:row;gap:8px;font-size:18px;" @click="downloadJsonOutput();">
								<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
									<use href="img/icons.svg#download"/>
								</svg>
								<span>Download</span>
							</button>
						</div>
					</div>
				</template>
			</main>
			<footer>
				<p>Copyright &copy; 2025 by Peter Markley.<br>Code published <a href="https://github.com/petermarkley/clockworth-conf">on Github</a> under the <a href="https://www.gnu.org/licenses/lgpl-3.0.en.html">GNU Lesser General Public License v3.0</a>.</p>
			</footer>
			<div v-cloak v-show="store.modal.show">
				<div id="modal" :style="'top:'+(store.modal.scroll)+'px'">
					<div id="modal-bg" @click="store.hideModal"></div>
					<form id="modal-panel">
						<div style="display:flex;flex-direction:row;gap:16px;align-items:center;">
							<a @click="store.hideModal" title="Close" style="font-size:28px;">
								<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
									<use href="img/icons.svg#x"/>
								</svg>
							</a>
							<h2>{{ store.modal.title }}</h2>
						</div>
						<div style="max-height:calc( 80vh - 140px );overflow-y:auto;">
							<div v-if="store.modal.contentKey == 'uploadConf'" style="display:flex;flex-direction:column;gap:32px;align-items:center;">
								<p style="margin:0;">Please only upload files that were created using this GUI.</p>
								<input type="file" id="upload_conf_file" name="upload_conf_file" accept="application/json" style="margin-bottom:16px;">
							</div>
							<div v-else-if="store.modal.contentKey == 'newEvent'" style="display:flex;flex-direction:column;gap:16px;">
								<fieldset>
									<h4>Type</h4>
									<div title="Group" style="display:flex;flex-direction:row;gap:8px;align-items:center;cursor:pointer;">
										<input type="radio" id="newevent_type_group" name="newevent_type" value="group" style="cursor:pointer;"/>
										<label for="newevent_type_group" style="font-size:54px;cursor:pointer;">
											<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
												<use href="img/icons.svg#folder"/>
											</svg>
										</label>
									</div>
									<div title="Event" style="display:flex;flex-direction:row;gap:8px;align-items:center;cursor:pointer;">
										<input type="radio" id="newevent_type_event" name="newevent_type" value="event" style="cursor:pointer;" checked/>
										<label for="newevent_type_event" style="font-size:54px;cursor:pointer;">
											<svg viewBox="0 0 24 24" style="width:1em;height:1em;">
												<use href="img/icons.svg#music"/>
											</svg>
										</label>
									</div>
								</fieldset>
								<div style="display:flex;flex-direction:column;gap:8px;padding:8px;">
									<label for="newevent_parent">Parent</label>
									<div class="select-container">
										<select
											id="newevent_parent"
											name="newevent_parent"
											:value="(store.selection.event == null ? -1 : (store.selection.event.type=='group' ? store.selection.path.length-1 : store.selection.path.length-2))"
										>
											<option value="-1" data-path="[]">(Root)</option>
											<template v-for="(item, i) in store.selection.path">
												<option
													v-if="item.event.type=='group'"
													:value="i"
													:data-path="JSON.stringify(store.cleanPath().slice(0,i+1))"
												>{{ item.event.label }}</option>
											</template>
										</select>
									</div>
								</div>
								<div style="display:flex;flex-direction:column;gap:8px;padding:8px;margin-bottom:16px;">
									<label for="newevent_label">Label</label>
									<input type="text" id="newevent_label" name="newevent_label" value="(Untitled)"/>
								</div>
							</div>
							<div v-else-if="store.modal.contentKey == 'deleteEvent'">
								<p
									v-if="store.selection.event !== null && store.selection.event.type == 'group'"
									style="margin-top:0;"
								>{{ getEventCount(store.selection.event) }} events inside this group will also be deleted.</p>
								<p style="margin-top:0;">Are you sure?</p>
							</div>
							<div v-else-if="store.modal.contentKey == 'overlapSlotsHelp'">
								<p style="margin-top:0;">Overlap slots let you control what happens if two or more chime events are triggered on the same minute.</p>
								<p>It works by these rules:</p>
								<ul style="display:flex;flex-direction:column;gap:16px;">
									<li>Each minute, Clockworth steps through the sequence of 10 slots. For each slot, it plays either nothing or a <strong>maximum of one matching chime.</strong></li>
									<li>If two or more chimes match on the same minute in the <em>same</em> slot, only the one shown last will play; this will <strong>override the others.</strong></li>
									<li>If two or more chimes match on the same minute in <em>different</em> slots, they will play <strong>in the order of their slot number.</strong></li>
									<li>The order of chimes inside a given overlap slot is dictated by their order in the master list of chime events.</li>
								</ul>
								<p>Let's take a more practical look at what all that means &hellip;</p>
								<p>If you know that two chimes will never match on the same minute, then putting them in the same slot together will essentially have no effect. For example, we know that the 1:00 chime and the 2:00 chime <em>by definition</em> can never both trigger at once. Likewise with any sunset chime and any sunrise chime.</p>
								<p>On the other hand, a sunrise chime might plausibly overlap with almost any chime in the "Westminster Quarters" group. Therefore, placing this in a later slot will ensure they can both play when appropriate: the sunrise chime after the Westminster Quarter chime.</p>
							</div>
						</div>
						<div style="display:flex;flex-direction:row;gap:12px;">
							<button style="flex:1;" @click.prevent="store.hideModal();" class="secondary">{{ store.modal.cancelLabel }}</button>
							<button
								style="flex:1;"
								@click.prevent="if (store.modal.confirmFunction !== null) {store.modal.confirmFunction();} store.hideModal();"
							>{{ store.modal.buttonLabel }}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
