body {
	background-color: #232221;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), linear-gradient(to bottom, rgba(57,56,54,0), rgba(57,56,54,1)), url("img/clockworth-paper-bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100vw 100vh, 100vw 100vh;
	color: #b6b6b6;
	font-family: Baskerville, serif;
	padding: 0;
	margin: 0;
}
a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
a:hover, a:active, a:focus {
	color: #ddd;
}
main {
	max-width: 800px;
	margin: 16px auto;
	background-color: #323232;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	position: relative;
	z-index: 10;
}
footer {
	position: relative;
	z-index: 10;
}
h1 {
	font-family: "Brush Script MT", cursive;
	font-size: 48px;
	margin: 0;
	text-align: center;
	font-style: italic;
}
h2 {
	text-align: center;
	margin: 0 0 8px 0;
	font-weight: normal;
	font-size: 24px;
	letter-spacing: 4px;
}
h3 {
	margin: 0;
}
footer {
	font-size: 1em;
	font-style: italic;
	color: rgba(255,255,255,0.4);
	text-align: center;
}
footer a {
	color: rgba(255,255,255,0.8);
}
footer a:hover, footer a:active, footer a:focus {
	color: rgba(255,255,255,0.6);
}
.inset {
	background-color: #2c2c2c;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
	padding: 8px;
	border-radius: 4px;
	overflow-y: scroll;
	margin: 0 0 8px 0;
}
.inset-flat {
	width: 100%;
	box-sizing: border-box;
	background-color: #2c2c2c;
	padding: 8px;
}
.inset-flat>* {
	border-left: 2px solid #393836;
	padding-left: 8px;
}
.inset-flat>*:first-child {
	border-left: none;
	padding-left: 0;
}
.inset-flat h5 {
	font-size: 16px;
}
.inset-flat-heading {
	width: 100%;
	box-sizing: border-box;
	background-color: #393836;
	text-align: center;
	padding: 4px 8px;
	font-size: 16px;
}
.inset-flat-container {
	border-radius: 6px;
	overflow: hidden;
}
#chime_events, #chime_events ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
	overflow: visible;
}
#chime_events ul {
	padding: 0 0 0 26px;
	margin: 0;
}
#chime_events li {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: flex-start;
}
.event-heading {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: baseline;
}
.drawer-button {
	cursor: pointer;
}
.drawer-button.open {
	transform: rotate(90deg);
}
#chime_events ul {
	display: none;
	transform: scaleY(0);
}
#chime_events ul.open {
	display: flex;
	transform: scaleY(1.0);
}
.event-bar {
	margin: 0;
	padding: 4px 8px;
	background-color: #393836;
	border-radius: 8px;
	cursor: pointer;
}
.event-bar:hover, .event-bar:focus {
	background-color: #4d4d4c;
}
.event-bar.selected {
	background-color: #b6b6b6;
	color: #393836;
}
.event-bar.selected:hover, .event-bar.selected:focus {
	background-color: #fff;
}
.disable .event-bar {
	opacity: 0.3;
}
.hierarchy-parent {
	position: absolute;
	pointer-events: none;
	top: -2em;
	height: 3em;
	box-sizing: border-box;
	border-left: 2px solid #4d4d4c;
}
.hierarchy-item {
	position: absolute;
	pointer-events: none;
	left: -22px;
	top: -2em;
	width: 12px;
	height: 3em;
	box-sizing: border-box;
	border-bottom: 2px solid #4d4d4c;
	border-left: 2px solid #4d4d4c;
	border-bottom-left-radius: 8px;
}
#collision_sequence {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.collision-list {
	list-style-type: none;
	margin: 0 0 0 16px;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 4px;
}
.collision-item {
	margin: 0;
	padding: 4px 8px;
	background-color: #393836;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: 4px;
	align-items: baseline;
}
.collision-item:hover, .collision-item:focus {
	background-color: #4d4d4c;
}
.collision-item.selected {
	background-color: #b6b6b6;
	color: #393836;
}
.collision-item.selected:hover, .collision-item.selected:focus {
	background-color: #fff;
}
.collision-item.disable {
	opacity: 0.3;
}
button {
	appearance: none;
	border: none;
	background-color: #b6b6b6;
	color: #393836;
	margin: 0;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	cursor: pointer;
}
button:hover, button:focus {
	background-color: #fff;
}
button:active {
	background-color: #b6b6b6;
	box-shadow: 0 1px 2px rgba(0,0,0,1.0);
	transform: translate( 0, 1px );
}
button:disabled {
	background-color: #b6b6b6;
	opacity: 0.5;
	cursor: default;
	transform: none;
}
button.secondary {
	background-color: #393836;
	color: #fff;
}
button.secondary:hover, button.secondary:focus {
	background-color: #4d4d4c;
}
button.secondary:active {
	background-color: #393836;
}
button.secondary:disabled {
	background-color: #393836;
}
.toolbar {
	display: flex;
	flex-direction: row;
	gap: 4px;
}
.toolbar button {
	appearance: none;
	border: none;
	background-color: #393836;
	color: #fff;
	margin: 0;
	width: 48px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	cursor: pointer;
}
.toolbar button:hover, .toolbar button:focus {
	background-color: #4d4d4c;
}
.toolbar button:active {
	background-color: #393836;
	box-shadow: 0 1px 2px rgba(0,0,0,1.0);
	transform: translate( 0, 1px );
}
.toolbar button.leftmost {
	border-bottom-left-radius: 8px;
}
.toolbar button.rightmost {
	border-bottom-right-radius: 8px;
}
.toolbar button:disabled {
	background-color: #393836;
	opacity: 0.5;
	cursor: default;
	transform: none;
}
.properties_heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 16px;
	flex-grow: 1;
}
#breadcrumb, #breadcrumb span, #breadcrumb a {
	font-size: 12px;
	font-weight: normal;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 8px;
	align-items: center;
}
#breadcrumb {
	flex-wrap: wrap;
}
#properties_title {
	appearance: none;
	border: none;
	background: none;
	font-size: 19px;
	font-weight: bold;
	color: #b6b6b6;
	font-family: inherit;
	width: auto;
}
#properties_type {
	font-weight: normal;
	font-style: italic;
}
#properties {
	min-height: 300px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 16px;
}
#world_map {
	background-color: #2c2c2c;
	background-image: url('img/world_map.svg');
	background-size: 100%;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
	padding: 0;
	border-radius: 4px;
	overflow: hidden;
	margin: 0;
	width: 800px;
	height: 400px;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}
#world_map_pin {
	pointer-events: none;
	position: absolute;
	width: 1em;
	height: 1em;
	transform: translate( -50%, 50% );
}

/* input toggle */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #4d4d4c;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #323232;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
input:checked + .slider {
	background-color: #b6b6b6;
}
input:focus + .slider {
	box-shadow: 0 0 1px #b6b6b6;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* page 3 styles */
#json_output {
	color: inherit;
	font-weight: bold;
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	resize: none;
	appearance: none;
	border: none;
	border-radius: 4px;
	background-color: #2c2c2c;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
	padding: 8px;
	border-radius: 4px;
	overflow-y: scroll;
}

/* modal styles */
#modal {
	position: absolute;
	overflow: hidden;
	z-index: 20;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
#modal-bg {
	position: absolute;
	overflow: hidden;
	background-color: rgba(0,0,0,0.75);
	cursor: pointer;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(4px);
}
#modal-panel {
	background-color: #323232;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	z-index: 0;
	width: 600px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
#modal-panel fieldset, .fieldset {
	border-radius: 16px;
	border: 2px solid #4d4d4c;
	position: relative;
	padding: 24px;
	margin: 0.5em 0 0 0;
	overflow: visible;
	display: flex;
	flex-direction: row;
	gap: 24px;
	justify-content: center;
	align-items: center;
}
#modal-panel fieldset h4, .fieldset h4 {
	margin: 0;
	padding: 0 8px;
	position: absolute;
	top: -0.75em;
	left: 16px;
	background-color: #323232;
}

/* form element styles */
input[type="text"], input[type="number"] {
	appearance: none;
	border: none;
	font-size: inherit;
	color: #b6b6b6;
	font-family: inherit;
	background-color: #2c2c2c;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
	padding: 8px;
	border-radius: 4px;
	box-sizing: border-box;
}
label {
	font-size: 14px;
}
.select-container {
	position: relative;
}
.select-container::after {
	content: '\25BC';
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	pointer-events: none;
	font-size: 12px;
}
select {
	appearance: none;
	background-color: #393836;
	color: #fff;
	border: none;
	margin: 0;
	padding: 8px;
	padding-right: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	cursor: pointer;
	font-family: inherit;
	font-weight: normal;
	width: 100%;
}
select:hover, select:focus {
	background-color: #4d4d4c;
}
select:active {
	background-color: #393836;
}
input.nospinner {
	-moz-appearance: textfield;
	margin: 0;
}
input.nospinner::-webkit-inner-spin-button,
input.nospinner::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
[v-cloak] { display: none }

